
.garden-table-container{
width:60%;
min-height:10px;
border: 2px double green; 
border-top-width: 10px;
border-right-width: 1em;
border-bottom-width: 20px;
border-left-width: 1em;
position:absolute;
left:6px;
}
.garden-form
{
position: relative;
top: 30px; left: 20px;
font:40px "Lucida Console", "Courier New", monospace ;
font-weight: bold;
width: 40%;
border: 1px solid green; 
border-top-width: 10px;
border-right-width: 1em;
border-bottom-width: 10px;
border-left-width: 1em;
}
.garden-form2
{
position: relative;
top: 10px; left: 95px;
font:40px "Lucida Console", "Courier New", monospace ;
font-weight: bold;
width: 68%;
border: 1px solid blue; 
border-top-width: 20px;
border-right-width: 1em;
border-bottom-width: 20px;
border-left-width: 3em;
}

.caja
{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 15px; 
    font-weight: 400; 
    text-align: center; 
    background: rgb(77, 211, 77); 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
}
.caja2
{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 15px; 
    font-weight: 300px; 
    text-align: left; 
    background: rgb(132, 132, 255); 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border: 2px solid #5878ca;
}

